@import "@/styles/base.scss";


$itemBorderColor: #ccaadd;
$itemBgColor: lighten($themeColor, 40);
$itemBorderColor2: darken($itemBorderColor, 15);

.list-page {
    // todo
    padding: 0 20px;

    .toolbar .select-items .select-item {
        display: block;
        margin-top: 0;
        line-height: 35px;
    }

    .toolbar .select-items-sort .select-sort-item {
        display: block;
        margin-top: 0;
        line-height: 35px;
        padding: 0 0 0 7px;
    }

    .col2-left-layout .products-grid {
        // border-bottom: 1px solid $itemBorderColor;
        padding-top: 1px;
        // border-left: 1px solid $itemBorderColor;

        li.item {
            padding: 10px;
            min-height: auto;
            border-top: 1px solid $itemBorderColor;
            border-right: 1px solid $itemBorderColor;
            border-bottom: 1px solid $itemBorderColor;
            border-left: 1px solid $itemBorderColor;

            margin-top: -1px;
            margin-left: -1px;

            &:hover {
                // background: $itemBgColor;
                outline: 1px solid $itemBorderColor2;
            }
        }
    }

    .products-grid .item {
        width: 33.333%;
    }

    @media screen and (min-width: 1024px) {
        .main-section {
            display: flex;

            .sidebar {
                flex: 0 0 270px;
                margin-right: 20px;
            }

            .col-main {
                flex: 1 1 auto;
            }
        }

        .col2-left-layout .products-grid {
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li.item {
                flex: 0 1 33.333%;

                // .img-box {
                //     // padding: 5px;
                // }
            }
        }

    }

    @media screen and (min-width: 1300px) {
        .col2-left-layout .products-grid {
            li.item {
                flex: 0 1 25%;
            }
        }
    }
}