.sale_price {
    display: flex;
}

.offDiv {
    margin-top: 3px;
    margin-left: 9px;
    width: 62px;
    height: 24px;
    background-color: #f24726;
    border-radius: 8px;
    text-align: center;
}

.offDiv span {
    line-height: 21px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.price-box {
    position: relative;
}

.price-box .sale_price label span {
    font-size: 12px;
    display: inline-block;
    padding-right: 3px;
}

.offSpan {
    display: inline-block;
    margin-left: 9px;
    width: 65px;
    height: 24px;
    background-color: #f24726;
    border-radius: 8px;
    text-align: center;
    line-height: 19px;
}

.offSpan span {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}


/*filter by 样式*/
.limiter .custom-select-filter {
    position: relative;
    font-family: Arial;
}

.select-selected {
    padding: 0px 0px !important;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #626262;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #9f9f9f transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #9f9f9f transparent;
    top: 7px;
}

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #d8d8d8;
    border-top: none !important;
}

.select-items div {
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
    font-size: 15px;
    cursor: pointer;
    margin-top: -10px;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/*sort by 样式*/
.custom-select-sort {
    position: relative;
    font-family: Arial;
}

.select-selected-sort {
    padding: 0px 0px !important;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #626262;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}

.select-selected-sort:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #9f9f9f transparent transparent transparent;
}

.select-selected-sort.select-arrow-active:after {
    border-color: transparent transparent #9f9f9f transparent;
    top: 7px;
}

.select-items-sort {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #d8d8d8;
    border-top: none !important;
}

.select-items-sort div {
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    cursor: pointer;
}

.select-hide-sort {
    display: none;
}

.select-items-sort div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}



/*filter by 样式*/
.limiter .custom-select-filter {
    position: relative;
    font-family: Arial;
}

.select-selected {
    padding: 0px 0px !important;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #626262;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #9f9f9f transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #9f9f9f transparent;
    top: 7px;
}

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #d8d8d8;
    border-top: none !important;
}

.select-items div {
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
    font-size: 15px;
    cursor: pointer;
    margin-top: -10px;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/*sort by 样式*/
.custom-select-sort {
    position: relative;
    font-family: Arial;
}

.select-selected-sort {
    padding: 0px 0px !important;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #626262;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}

.select-selected-sort:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #9f9f9f transparent transparent transparent;
}

.select-selected-sort.select-arrow-active:after {
    border-color: transparent transparent #9f9f9f transparent;
    top: 7px;
}

.select-items-sort {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #d8d8d8;
    border-top: none !important;
}

.select-items-sort div {
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    cursor: pointer;
}

.select-hide-sort {
    display: none;
}

.select-items-sort div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}