@import "./base.scss";

.flex-row {
    @include flex(row);
}

.center-both {
    @include centerByPosition();
}

.loading-wrapper {
    $width: 60;
    @include centerByPosition();
    @include square($width);
    position: fixed;
    background: rgba(0, 0, 0, .2);
    border-radius: rem(4);
    padding: rem(5);
    line-height: rem($width);
    box-sizing: content-box;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

#root {
    // max-width: 1280px;
    // margin: 0 auto;
    min-height: 100vh;
}

.app {
    min-height: 100vh;
}

.myhide {
    display: none !important;
}

.no-visible {
    visibility: hidden;
}


.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}


.max-lines-1 {
    @include maxLines(1)
}

.max-lines-2 {
    @include maxLines(2)
}

.max-lines-3 {
    @include maxLines(3)
}

// .logo {
//     height: 6em;
//     padding: 1.5em;
//     will-change: filter;
//     transition: filter 300ms;
// }