@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}


@mixin fullContainer($pos: absolute) {
    position: $pos;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@mixin fullScreen() {
    @include fullContainer(fixed);
}

@mixin square($size) {
    width: rem($size);
    height: rem($size);
}


@mixin centerByMargin($marginTop: 0, $marginBtm: false) {
    @if not $marginBtm {
        $marginBtm: $marginTop;
    }

    display: block;
    margin: rem($marginTop) auto rem($marginBtm);
}

@mixin maxLines($n: 1) {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $n;
    overflow: hidden;
    word-break: break-word;
}

@mixin centerByPosition($isHorizontal: true, $isVertical: true) {
    position: absolute;
    $offsetX: 0;
    $offsetY: 0;

    @if $isHorizontal {
        $offsetX: -50%;
        left: 50%;
    }

    @if $isVertical {
        $offsetY: -50%;
        top: 50%;
    }

    transform: translate($offsetX, $offsetY)
}