$themeColor: #942ffb;

$inputBorderColor: #6e726f;

$bgLightenVal: 10;
$brdLightenVal: 5;

$successColor: #27e164;
$successBgColor: lighten($successColor, $bgLightenVal);
$successBorderColor: lighten($successColor, $brdLightenVal);

$warnColor: #e8960a;
$warnBgColor: lighten($warnColor, $bgLightenVal);
$warnBorderColor: lighten($warnColor, $brdLightenVal);

$errorColor: #e12a27;
$errorBgColor: lighten($errorColor, $bgLightenVal);
$errorBorderColor: lighten($errorColor, $brdLightenVal);