.footer-container {
    background: #080255;
    margin-top: -3px;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

#sitemenu-footer {
    display: none;
}


@media only screen and (max-width: 767px) {
    .footer-container {
        padding: 0;
    }

}

.footer {
    width: 100% !important;
    max-width: 100rem;
    margin: 0 auto;
}

.footer {
    width: 100% !important;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-row-gap: 64px;
}

.copyright-social {
    padding: 8rem 0 0 0;
}

@media screen and (max-width: 479px) {
    .copyright-social {
        padding: 2rem 0;
    }
}

.site-menu .level-1 .site-menu .level-2 span {
    color: #FFF;
}

.footer ul.site-menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

#sitemenu-footer,
#sitemenu-footer-new {
    width: 100%;
}

.footer .footer-menu #sitemenu-footer ul.site-menu li.level-1:last-of-type， .footer .footer-menu #sitemenu-footer-new ul.site-menu li.level-1:last-of-type {
    margin-top: 0px;
}

#social-media {
    display: flex;
    /*align-items: center;*/
    justify-content: flex-end;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

@media only screen and (max-width: 991px) {

    .footer .footer-menu #sitemenu-footer ul.site-menu li.level-1,
    .footer .footer-menu #sitemenu-footer-new ul.site-menu li.level-1 {
        width: 50% !important;
    }

    .copyright-social>.row {
        flex-direction: column;
    }
}

.footer .footer-menu .site-menu a::before,
.footer .footer-menu .site-menu a::after {
    content: '';
    display: none !important;
}

.footer .footer-menu #sitemenu-footer ul.site-menu li.level-1>a,
.footer .footer-menu #sitemenu-footer-new ul.site-menu li.level-1>a {
    background: none !important;
    display: inline-table;
}

.footer .footer-menu #sitemenu-footer ul.site-menu li.level-1>a>span,
.footer .footer-menu #sitemenu-footer-new ul.site-menu li.level-1>a>span {
    color: #942FFB !important;
}

.footer .footer-menu #sitemenu-footer ul.site-menu ul.site-menu,
.footer .footer-menu #sitemenu-footer-new ul.site-menu ul.site-menu {
    grid-row-gap: 12px;
    display: flex;
    flex-direction: column;
}

.footer .footer-menu #sitemenu-footer ul.site-menu li.level-1>a>span,
.footer .footer-menu #sitemenu-footer-new ul.site-menu li.level-1>a>span {
    font-family: 'Scto Grotesk A-M', sans-serif;
    color: #a959fc;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.footer .footer-menu #sitemenu-footer ul.site-menu ul.site-menu a span,
.footer .footer-menu #sitemenu-footer-new ul.site-menu ul.site-menu a span {
    /* font-family: Scto grotesk a, sans-serif;
    font-weight: 500; */
    font-family: 'Scto Grotesk A-M', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fafafa;
    line-height: 20px;
}

.footer .footer-menu #sitemenu-footer ul.site-menu ul.site-menu a,
.footer .footer-menu #sitemenu-footer-new ul.site-menu ul.site-menu a {
    padding: 4px;
}

.footer .footer-menu #sitemenu-footer ul.site-menu ul.site-menu a:hover,
.footer .footer-menu #sitemenu-footer-new ul.site-menu ul.site-menu a:hover {
    color: #fafafa;
    background-color: #393577;
    border-radius: 4px;

}

.site-menu .level-1 .site-menu .level-2 span:hover {
    color: #fafafa;
}

.footer-menu {
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    #social-media {
        margin-top: 40px;
        justify-content: flex-start;
    }

    .dsz-logo-social {
        flex: 1;
    }
}

.footer .footer-menu #sitemenu-footer ul.site-menu>li,
.footer .footer-menu #sitemenu-footer-new ul.site-menu>li {
    width: auto;
}