.hero.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #942ffb;
}

.hero {
    display: flex;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #080255;
}

.hero .container {
    padding: 9rem 15px 9rem 15px;
}


.div-block {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    grid-column-gap: 48px;
    grid-row-gap: 2rem;
}

.image {
    width: 160px;
    height: auto;
}

.cta-text {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    margin-left: auto;
    text-align: center;
}

.heading-jumbo-small {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "Parafina-BlackS", sans-serif;
    color: #f5f0eb;
    font-size: 78px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    /*.submit-button.navy, .submit-button.pink {*/
    /*width:400px;*/
    /*}*/

    .hero .container {
        padding: 6rem 1rem;
    }

    .div-block {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .heading-jumbo-small {
        text-align: center;
        font-size: 5rem;
        line-height: 5rem;
    }
}

@media screen and (max-width: 479px) {
    .heading-jumbo-small {
        font-size: 3.2rem;
        line-height: 3.4rem;
    }
}

.paragraph.large {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.paragraph {
    font-family: 'Scto Grotesk A', sans-serif;
    color: #e9e4df;
    line-height: 24px;
    font-weight: 400;
}

.uui-container-cta {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-self: stretch;
}

.cta-button {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}

.submit-button.navy,
.submit-button.pink {
    display: flex;
    height: 3.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-radius: 8rem;
    transition-property: none;
    text-decoration: none;
}

.submit-button.navy {
    background-color: #080255;

}

.submit-button.navy:hover {
    background-color: #050133;

}

.submit-button.pink {
    background-color: #D4ACFD;
}

.submit-button.pink:hover {
    background-color: #bf82fd;
}

.submit-button {
    display: flex;
    height: 3.5rem;
    max-width: 64rem;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex: 1;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border-radius: 80px;
    background-color: #942ffb;
    font-family: 'Scto Grotesk A', sans-serif;
    color: #fafafa;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 40rem;
}

.overline.cta {
    color: #fafafa;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 2px;
}

.submit-button.pink>.overline.cta {
    color: #080255;
}

@media screen and (max-width: 768px) {
    .overline.cta {
        font-size: 0.8rem;
    }
}