// <style>
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    text-decoration: none !important;
}

@media screen and (max-width:100rem) {
    #header-1 {
        /*height:80px;*/
        padding: 0 2rem;
    }

    #header-2 {
        /* height:52px; */
        padding: 0 2rem;
    }
}


.bg-3B1364 {
    background: #3B1364;
}

.bg-942FFB {
    background: #942FFB;
}

.header .links {
    display: flex;
    align-items: center;
}

.header .links li {
    font-size: inherit;
}

.header .logo img {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-top: 0px;
  padding-bottom: 10px; */
    height: 75px;
}

.header {
    /* height: 80px;
  line-height: 80px; */
    width: 100%;
    height: auto !important;
    max-width: 100rem;
    margin: 0 auto;
    /* padding:0 2rem; */
    background-color: #942FFB;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 0 !important;
}

#header-1 .header {
    letter-spacing: 2px;
}

.header a {
    color: #fff;
    font-weight: bold;
}

.header a.logo {
    margin: 0 auto;
}

.content-header {
    /* padding: 0 2rem; */
    padding: 0;
    /* height: 52px; */
    height: auto;
    background-color: #3B1364;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    /* line-height: 52px; */
}

header {
    background-color: #3B1364;
}

.header .links a {
    color: #fff;
}

.search_dom {
    margin-top: 5px;
}

#mega-menu {
    /*display:none;*/
    /*position:fixed;*/
    justify-content: end;
    align-items: center;
}

#desktop-logo {
    display: inline-block;
}

#mobile-logo {
    display: none;
}

.header-container {
    min-height: auto;
}

@media screen and (max-width: 1024px) {
    .header-container {
        padding: 0px;
    }
}

#header-1 .header .header-menu-default {
    padding: 0px;
    display: flex;
    align-items: center;
}

#header-top-links .links li a {
    font-family: 'Scto Grotesk A';
    text-transform: uppercase;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    #sitemenu-header {
        display: none;
    }

    #desktop-logo {
        display: none;
    }

    #mobile-logo {
        display: inline-block;
    }

    #mobile-logo img {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    #header-1 {
        height: 60px;
        line-height: 60px;
        padding: 0
    }

    #header-2 {
        padding: 0
    }

    .header {
        padding: 0 1rem;
        height: 60px;
        line-height: 60px;
    }

    #header-logo {
        width: 13%;
        padding: 0;
        margin: 0
    }

    #header-top-links {
        width: auto;
        flex: auto;
        max-width: none;
        padding: 0;
        margin: 0;
    }

    .header .logo img {
        height: 55px;
    }

    .mobile-wrapper .header-container .header a.logo {
        margin: 0;
    }

    #mega-menu {
        display: block;
        /*width:10%;*/
        position: inherit;
        justify-content: end;
        width: auto;
        max-width: none;
    }

    #top-search {
        z-index: 888;
    }

    .content-header {
        padding: 0 1rem;
    }

    #header-1 .header .header-menu-default {
        display: none !important;
    }

    .header a.logo {
        margin: 0;
    }
}


/* .col1-layout>div.main>div.col-main>div.std{display:none;} */
#header-top-links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-retailer-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#header-1 .header .header-menu-default .rs-menu li {
    background: none;
    text-align: left;
    padding: 0.7rem 0.8rem;
    margin: 0;
}

#header-1 .header .header-menu-default .rs-menu li:first-child {
    padding: 0.7rem 0.8rem;
}

#header-1 .header .header-menu-default .rs-menu li:hover,
.header #header-top-links .links li:hover {
    background: #9e3ef7;
    border-radius: 2rem;
}

.header .links {
    margin: 0;
}

.header .links li {
    /* padding: 0.7rem 0.8rem; */
    background: none;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.7rem;
}

/* @media screen and (max-width: 767px) {
    .header .links li {
        padding: 4px 12px;
        font-size: 12px;
        line-height: 16px;
    }
} */

.primary-button-div {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #591c97;
    border-radius: 2rem;
    align-items: center;
    padding: 0.7rem 0.8rem;
    font-family: 'Scto Grotesk A', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
}

.primary-button-div:hover {
    background-color: #3b1364;
}

@media screen and (max-width: 479px) {
    .primary-button-div {
        display: none;
    }
}

.top-bar-hm5-2,
.middle-bar-hm5-2,
.bottom-bar-hm5-2 {
    width: 35px;
    height: 3px;
    background-color: #333;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
    .top-bar-hm5-2 {
        background-color: #f9f6f3;
    }

    .middle-bar-hm5-2 {
        -webkit-text-stroke-color: #f9f6f3;
        background-color: #f9f6f3;
    }

    .bottom-bar-hm5-2 {
        background-color: #f9f6f3;
    }
}

.cross-bar-1-hm5 {
    width: 35px;
    height: 3px;
    background-color: #83dc52;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: auto;
    bottom: 47%;
    /*left: 87%;*/
    right: auto;
}

.cross-bar-2-hm5 {
    width: 35px;
    height: 3px;
    background-color: #83dc52;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: auto;
    bottom: 47%;
    /*left: 87%;*/
    right: auto;
}

@media screen and (max-width: 991px) {

    .cross-bar-1-hm5,
    .cross-bar-2-hm5 {
        background-color: #f9f6f3;
    }
}

// </style>