@import "@/styles/base.scss";

.navbar {
    line-height: 2;
    background: #f2f2f2;

    .nav-item {
        margin: 0 rem(10);
        background: #f0f0f0;
        padding: 5px 10px;

        &.active {
            background: skyblue;
        }
    }
}